.header {
  padding: 2.5rem 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 400px;
}
img {
  width: 300px;
  height: auto;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

.border {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(214, 0, 111);
  border-bottom: 1px solid rgb(214, 0, 111);
  border-radius: 0 0px 60px 40px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  padding-right: 10px;
}

.grid input[type="text"] {
  display: flex;
  height: 64px;
  width: 999px;
  border-radius: 999px;
}

#searchInput {
  background-image: url("searchicon.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 25px;
  padding-left: 45px;
}

#closeModalBtn,
#typeFilter,
#searchBtn,
#generationSelect {
  margin-top: 20px;
  border-radius: 999px;
  padding: 15px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#pokemon-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-left: 300px;
}
#pokemon-list img {
  width: 300px;
  height: auto;
}

#pokemonModal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.modalCard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  height: auto;
}
@media (max-width: 768px) {
  .header {
    padding: 2.5rem 1.25rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  img {
    width: 50px;
    height: 50px;
  }
  .border {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(214, 0, 111);
    border-bottom: 1px solid rgb(214, 0, 111);
    border-radius: 0 0px 60px 40px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    padding-right: 20px;
  }

  .grid input[type="text"] {
    display: flex;
    height: 64px;
    width: 300px;
    border-radius: 999px;
  }
  #closeModalBtn,
  #typeFilter,
  #searchBtn,
  #generationSelect {
    margin-top: 20px;
    border-radius: 999px;
    padding: 10px;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  #pokemon-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 50px;
  }
  #pokemon-list img {
    width: 250px;
    height: auto;
  }
  #modalImage {
    width: 50%;
    height: 50%;
  }

  #pokemonModal {
    position: fixed;
    inset: o;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
  .modalCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    height: auto;
  }
}

body {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

footer {
  background: #ffb300;
  color: #d6006f;
  text-align: center;
  padding: 0.4rem 1rem;
  font-size: 0.75rem;
}
