.header {
  padding: 2.5rem 1.25rem;
  text-align: center-left;
}
body {
  margin: 0;
}

.border {
  background-color: rgb(214, 0, 111);
  border-bottom: 1px solid rgb(214, 0, 111);
  border-radius: 0 0px 60px 40px;
  padding: 40px;
  overflow: hidden;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-right: 20px;
}
.grid input[type="text"] {
  display: flex;
  height: 64px;
  width: 999px;
  border-radius: 999px;
}
#search-btn,
#search-type {
  border-radius: 999px;
}
